.advantage {
  line-height: 24px;
  text-align: center;
}

.advantage__title {
  @include titleTextBold;
  margin-top: 0;
}

.advantage__info {
  @include infoText($color-font-primary);
}

@media (min-width: $tablet-width) {
  .advantage {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    text-align: center;
  }
}

