.advantage {
  line-height: 24px;
  text-align: center;
}

.advantage__title {
  @include titleTextBold;
  margin-top: 0;
  margin-bottom: 10px;
}

.advantage__info {
  @include infoText($color-font-primary);
  margin-top: 0;
  line-height: 24px;
  max-width: 308px;
}

@media (min-width: $tablet-width) {
  .advantage {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    text-align: center;

    &::before {
      content: "";
      height: 357px;
      width: 291px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:nth-of-type(1)::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &:nth-of-type(2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &:nth-of-type(3)::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .advantage__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 23px;
    max-width: 241px;
  }

  .advantage:nth-of-type(1) .advantage__title,
  .advantage:nth-of-type(1) .advantage__info {
    padding-right: 10px;
  }

  .advantage:nth-of-type(3) .advantage__title,
  .advantage:nth-of-type(3) .advantage__info {
    padding-left: 10px;
  }

  .advantage__info {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
    max-width: 241px;
  }
}
