.contest__title {
  margin: 0;
  padding: 36px 0;

  @include titleText($color-font-secondary);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $color-background-primary;
}
