.control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.control__btn {
  display: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.control__radio {
  position: absolute;
  left: -1000px;
  opacity: 0;
}

.control__radio + label::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: $color-background-primary;
  opacity: 0.3;
  border-radius: 6px;
  margin-right: 18px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.control__radio + label:last-of-type::before {
  margin-right: 0;
}

.control__radio:focus + label::before {
  outline: rgba(59, 153, 252, 1) auto 5px;
}

.control__radio:checked + label::before {
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid $color-background-primary;
  opacity: 1;
  cursor: default;
}

@media (min-width: $tablet-width) {
  .control--rates .control__radio,
  .control--rates .control__radio + label::before {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .control__radio,
  .control__radio + label::before {
    display: none;
  }

  .control__btn {
    display: block;
    border: none;
    background-color: transparent;
    width: 22px;
    height: 43px;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: absolute;
    top: 150px;
    cursor: pointer;
  }

  .control__btn--left {
    background-image: url("../img/icon-review-arrow-left.svg");
    left: -125px;
  }

  .control__btn--right {
    background-image: url("../img/icon-review-arrow-right.svg");
    right: -125px;
  }
}
