.contest__title {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $color-background-primary;
  margin: 0;
  padding-top: 34px;
  padding-bottom: 55px;

  @include mobilePaddings;

  @include titleText($color-font-secondary);
}

@media (min-width: $tablet-width) {
  .contest__title {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    font-size: 50px;
    padding-top: 68px;
    padding-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .contest__title {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @include desktopPaddings;
    padding-top: 64px;
    padding-bottom: 100px;
  }
}
