.form fieldset {
  border: none;
  padding: 21px 20px 8px;
  margin: auto;
}

.form .form__app,
.form .form__achievements {
  background-color: rgba(242, 242, 242, 1);
  padding-top: 85px;
  padding-bottom: 0;
}

.form__list {
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 276px;
}

.form__contact .form__list {
  margin-top: 10px;
}

.form__list-item {
  margin-bottom: 18px;
}

.form__contact .form__list-item,
.form__user-name .form__list-item {
  display: flex;
  flex-direction: column;
}

.form__app .form__list {
  margin-top: 3px;
  margin-bottom: 40px;
}

.form__app .form__check-label {
  margin-bottom: 36px;
}

.form__title {
  color: $color-font-sub;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  position: relative;
  width: 220px;
  top: 57px;
  text-transform: uppercase;
}

.form__emotions .form__title {
  top: 37px;
}

.form__contact .form__title {
  display: none;
}

.form__text-label {
  color: $color-font-sub;
  font-size: 14px;
  line-height: 30px;
  padding-left: 21px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.form__check-label {
  color: $color-font-primary;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 42.5px;
}

.form__text-input {
  color: $color-font-primary;
  font-size: 18px;
  line-height: 30px;
  padding: 0 19px;
  border: 2px solid rgba(229, 229, 229, 1);
  width: 276px;
  height: 59px;
  box-sizing: border-box;
}

.form__radio-input,
.form__check-input {
  opacity: 0;
  position: absolute;
}

.form__radio-input + label::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  border: 2px solid rgba(229, 229, 229, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 36px;
  cursor: pointer;
  margin-right: 28px;
}

.form__radio-input:checked + label::before {
  cursor: default;
  background-image: url("../img/map-marker.svg");
  background-repeat: no-repeat;
}

.form__check-input + label::before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  border: solid 2px rgba(229, 229, 229, 1);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  margin-right: 28px;
}

.form__check-input:checked + label::before {
  background-image: url("../img/icon-yes.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__radio-input:focus + label::before,
.form__check-input:focus + label::before {
  outline: rgba(59, 153, 252, 1) auto 5px;
}

.form__text-input--textarea {
  resize: none;
  height: 197px;
  padding-top: 17px;
}

.form .form__emotions {
  width: 280px;
  padding-top: 54px;
}

.form__description {
  color: $color-font-primary;
  font-size: 14px;
  line-height: 30px;
  margin: 36px 0 16px;
  text-align: center;
  text-transform: uppercase;
}

.form__description span:nth-of-type(1) {
  color: $color-font-sub;
}

.form__description span:nth-of-type(2) {
  display: none;
}

.form__submit {
  @include formBtn;
}

.form__footer {
  margin-top: 42px;
}

.form__radio-input:hover + label::before,
.form__check-input:hover + label::before,
.form__text-input:hover {
  border: 2px solid $color-font-primary;
}

.form__radio-input:active + label::before,
.form__check-input:active + label::before,
.form__text-input:active,
.form__text-input:focus {
  border: 2px solid rgba(210, 40, 86, 1);
  outline: none;
}

@media (min-width: $tablet-width) {
  .form {
    margin-left: auto;
    margin-right: auto;
    width: 616px;
    display: flex;
    flex-direction: column;
  }

  .form fieldset {
    width: 100%;
    border: solid 2px rgba(229, 229, 229, 1);
    padding: 41px 60px 44px;
    background-color: transparent;
    box-sizing: border-box;
    margin-bottom: 50px;
  }

  .form .form__app {
    order: -2;
    padding: 32px 0 10px 55px;
    margin-bottom: 52px;
    background-color: transparent;
  }

  .form .form__achievements {
    order: 0;
    background-color: transparent;
    padding: 38px 0 10px 55px;
  }

  .form .form__user-name {
    border: none;
    padding: 72px 0 0;
    margin-bottom: 0;
    order: -2;
  }

  .form__radio-input + label::before,
  .form__check-input + label::before {
    margin-right: 20px;
  }

  .form .form__contact {
    order: -1;
    padding: 24px 60px 6px 55px;
    margin-bottom: 52px;
  }

  .form .form__emotions {
    padding: 29px 60px 46px 56px;
    margin-bottom: 28px;
    width: 100%;
  }

  .form__list {
    width: 100%;
    margin: 0;
  }

  .form__contact .form__text-input {
    padding-right: 82px;
  }

  .form__text-input {
    width: 100%;
  }

  .form__text-label {
    margin-right: 16px;
    padding: 5px 0 0;
  }

  .form__user-name .form__list-item {
    flex-direction: row;
    align-items: center;
    margin-bottom: 56px;
  }

  .form .form__title {
    display: block;
    width: auto;
    line-height: 30px;
    top: 0;
    padding-left: 25px;
    padding-right: 25px;
  }

  .form__text-label--tel,
  .form__text-label--email {
    order: 1;
    position: relative;
    padding-left: 20px;
    margin-top: 8px;
  }

  .form__text-label--tel {
    margin-bottom: 12px;
  }

  .form__text-label--tel::after,
  .form__text-label--email::after {
    content: "";
    display: block;
    width: 60px;
    height: 55px;
    background-color: rgba(229, 229, 229, 1);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -65px;
    right: -14px;
  }

  .form__text-label--tel::after {
    background-image: url("../img/icon-phone.svg");
  }

  .form__text-label--email::after {
    background-image: url("../img/icon-mail.svg");
  }

  .form__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
    margin-bottom: 49px;
    width: 100%;
  }

  .form__submit {
    margin: 0;
    width: 296px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-left: auto;
    margin-right: auto;
    width: 936px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .form .form__user-name,
  .form .form__app {
    width: 431px;
    padding-bottom: 0;
    padding-right: 0;
    box-sizing: border-box;
  }

  .form .form__user-name {
    padding-top: 0;
    margin-left: 0;
    margin-top: 86px;
  }

  .form .form__app {
    margin-right: 0;
    padding-top: 37px;
    padding-bottom: 13px;
  }

  .form__app .form__list-item {
    padding-left: 20px;
    margin-bottom: 0;
  }

  .form__app .form__title {
    width: 368px;
  }

  .form .form__contact {
    padding-top: 18px;
    padding-bottom: 0;
  }

  .form__contact .form__list {
    display: flex;
    justify-content: space-between;
  }

  .form__contact .form__list-item {
    width: 371px;
    margin-bottom: 12px;
  }

  .form__contact .form__text-label {
    margin-bottom: 0;
  }

  .form .form__achievements {
    padding-bottom: 12px;
  }

  .form__achievements .form__list {
    column-count: 3;
    column-gap: 47px;
  }

  .form__achievements .form__list-item {
    margin-bottom: 0;
    width: 262px;
    page-break-inside: avoid;
  }

  .form__achievements .form__check-label::before {
    margin-right: 22px;
  }

  .form .form__emotions {
    margin-bottom: 24px;
  }

  .form__text-input--textarea {
    height: 123px;
    padding-top: 14px;
  }

  .form__description span:nth-of-type(2) {
    display: inline;
  }

  .form__footer {
    margin-bottom: 0;
    margin-top: 40px;
  }
}
