.page-footer {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobilePaddings;
}

.page-footer--index {
  display: none;
}

.page-footer__logo-item {
  margin-bottom: 38px;
  width: 147px;
}

.page-footer__icons {
  margin-bottom: 37px;
}

.page-footer__powered-info {
  @include infoText($color-font-primary);
  margin: 0;
  display: flex;
  align-items: flex-start;
}

.page-footer__powered-info-logo {
  margin-left: 14px;
}

.page-footer__powered-info-logo svg {
  fill: $color-font-sub;

  &:hover {
    fill: rgba(0, 0, 0, 1);
  }

  &:active {
    fill: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .page-footer--index {
    display: flex;
  }

  .page-footer__icons {
    margin-bottom: 0;
  }

  .page-footer__powered-info {
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    @include desktopPaddings;
    padding-top: 75px;
  }

  .page-footer__powered-info {
    font-size: 18px;
  }
}
