.post {
  margin-bottom: 20px;
  padding-bottom: 28px;
}

.post__username {
  color: $dark;
  font-family: $opensansBold;
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 24px;
}

.post__online-time {
  color: $dark;
  font-family: $opensansLight;
  font-size: 12px;
}

.post__comment {
  @include infoText($dark);
  margin-top: 0;
  margin-bottom: 20px;
}

.post__like {
  color: $pink;
  font-family: $opensans;
  font-size: 12px;
  margin: 0;
}

.post__best {
  color: $white;
  font-family: $opensansBold;
  font-size: 12px;
  margin: 0;
  padding: 13px 21px;
  background-color: $pink;
}
