.post {
  margin-bottom: 20px;
}

.post__image {
  width: 100%;
  min-height: 130px;
}

.post__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  background-color: $color-background-secondary;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.post__username {
  color: $color-font-primary;
  font-weight: 700;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 24px;
}

.post__online-time {
  color: $color-font-primary;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}

.post__comment {
  @include infoText($color-font-primary);
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  min-height: 55px;
}

.post__like {
  color: $color-font-sub;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .post {
    width: 45%;
  }

  .post:nth-child(2n) {
    margin-left: 20px;
  }

  .post:nth-child(2n+1) {
    margin-right: 20px;
  }

  .post:nth-of-type(1) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .post__wrapper {
    min-height: 155px;
    margin-left: 0;
    margin-right: 0;
  }

  .post__wrapper--first {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

  .post__wrapper--first .post__comment {
    order: 2;
  }

  .post__wrapper--first .post__like {
    order: 1;
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .post {
    width: 25%;
  }

  .post:nth-of-type(2n) {
    margin-left: 0;
  }

  .post:nth-of-type(2n+1) {
    margin-right: 0;
  }

  .post:last-of-type {
    margin-left: calc((25% - 260px) / 2);
    margin-right: auto;
  }

  .post:nth-of-type(3n+2) {
    margin-left: 130px;
  }

  .post:nth-of-type(3n+4) {
    margin-right: 130px;
    margin-left: 0;
  }

  .post:nth-of-type(1) {
    margin-left: 0;
    margin-right: 0;
  }

  .post__wrapper--first {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
  }
}
