.rates {
  padding: 130px 0 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 200%;
    height: 580px;
    left: -100px;
    bottom: -116px;
    transform: rotate(-4.5deg);
    z-index: -1;
    background-color: $color-background-secondary;
  }
}

.rates__table {
  margin-bottom: 42px;
  border-collapse: collapse;
}

.rates__cell {
  outline: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  background-color: $color-background-primary;
  padding: 23px 0 21px;
  width: 278px;
  position: relative;
}

.rates__cell--hit {
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;

  &::before {
    content: "Хит";
    display: block;
    width: 24px;
    height: 26px;
    position: absolute;
    left: 11px;
    top: 17px;
    transform: rotate(-45deg);
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-transform: uppercase;
    color: $color-background-secondary;
  }
}

.rates__title {
  @include titleTextBold;
  color: $color-font-secondary;
  text-transform: uppercase;
  margin: 0 0 7px;
}

.rates__price {
  @include titleText($color-font-secondary);
  text-transform: uppercase;
  margin: 0;
}

.rates__header-row {
  display: flex;
}

.rates__main-row {
  background-color: $color-font-secondary;
  display: flex;
}

.rates__check {
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px 14px 22px;
  width: 236px;
}

.rates__row-title {
  @include infoText($color-font-primary);
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  display: none;
}

.rates__cell-empty {
  display: none;
}

.rates__check-title {
  @include infoText($color-font-primary);
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .rates {
    padding: 108px 0 22px;
    align-items: center;
  }

  .rates::before {
    height: 485px;
  }

  .rates__table {
    padding: 0 20px;
  }

  .rates__cell-empty {
    display: block;
    width: 153px;
  }

  .rates__title {
    font-size: 16px;
  }

  .rates__price {
    font-size: 18px;
  }

  .rates__check {
    width: 153px;
    padding: 9px 0 12px;
    justify-content: center;
  }

  .rates__row-title {
    width: 137px;
    display: flex;
    align-items: center;
    text-transform: none;
    padding-left: 15px;
  }

  .rates__cell {
    width: 155px;
    padding: 19px 0 12px;
  }

  .rates__cell--hit {
    background-image: url("../img/bg-hit-tablet.svg");

    &::before {
      width: 26px;
      height: 27px;
      left: 8px;
      top: 8px;
    }
  }

  .rates__check-title {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .rates {
    padding: 155px 0 52px;
  }

  .rates td {
    height: 61px;
    width: 235px;
    box-sizing: border-box;
  }

  .rates::before {
    height: 633px;
    transform: rotate(-4deg);
  }

  .rates__table {
    padding: 0 130px;
  }

  .rates__title {
    font-size: 18px;
  }

  .rates__price {
    font-size: 24px;
  }

  .rates__cell-empty {
    width: 233px;
  }

  .rates__cell--hit {
    background-image: url("../img/bg-hit-desktop.svg");

    &::before {
      left: 14px;
      top: 14px;
    }
  }

  .rates__row-title {
    width: 205px;
    padding: 2px 8px 3px 20px;
    font-size: 18px;
  }

  .rates__check {
    width: 233px;
    padding-top: 19px;
    padding-bottom: 15px;
  }

  .rates__cell {
    width: 235px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
