.reviews {
  margin-top: 49px;
}

.reviews__slide-title {
  @include titleTextBold;
  margin: 0 0 25px;
}

.reviews__slide-info {
  display: none;
}

.reviews__slide-text {
  @include infoText($color-font-primary);
  margin: 0 0 42px;
  text-align: center;
}
