.reviews {
  width: 278px;
  margin: 39px auto 0;
}

.reviews__slide {
  display: none;
}

.reviews__slide--show {
  @include infoText($color-font-primary);
  display: flex;
  flex-direction: column;
}

.reviews__slide-title {
  @include titleTextBold;
  margin: 0 0 10px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.reviews__slide-info {
  display: none;
  text-align: center;
  margin: 0 0 40px;
  order: 2;
}

.reviews__slide-text {
  @include infoText($color-font-primary);
  margin: 0 0 38px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 620px;
    margin-top: 25px;
  }

  .reviews__slide-title {
    order: 2;
    margin: 38px 0 0;
    font-size: 20px;
    line-height: 30px;
  }

  .reviews__slide-info {
    display: block;
    margin-bottom: 33px;
    line-height: 30px;
  }

  .reviews__slide-text {
    order: 1;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 690px;
    margin-top: 63px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 79px;
      height: 64px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      margin: 0 auto;
      position: relative;
      top: 7px;
    }
  }

  .reviews__slide-title {
    font-size: 24px;
  }

  .reviews__slide-info {
    font-size: 18px;
  }

  .reviews__slide-text {
    margin-top: 58px;
    line-height: 30px;
  }
}
