.social {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__item a {
  margin: 0 6px 6px;
  border-radius: 50px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 3px solid $color-background-primary;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__item svg {
  fill: $color-font-sub;
}

.social__item:last-child {
  margin-right: 0;
}
