.sup-info {
  display: none;
  justify-content: space-between;
  margin-top: 69px;

  @include mobilePaddings;
}

.sup-info__image {
  fill: $color-background-secondary;
  position: relative;
}

.sup-info__image svg {
  height: 276px;
  width: 238px;
}

.sup-info__wrapper {
  width: 50%;
}

.sup-info__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 168px;
  margin-top: 35px;
  margin-bottom: 0;
}

.sup-info__description {
  @include infoText($color-font-primary);

  margin-top: 10px;
  margin-bottom: 7px;
  line-height: 24px;
}

.sup-info__link {
  @include infoText($color-font-sub);
}

@media (min-width: $tablet-width) {
  .sup-info {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .sup-info {
    @include desktopPaddings;

    margin-top: 65px;
  }

  .sup-info__title {
    width: auto;
    font-size: 30px;
    margin-top: 92px;
  }

  .sup-info__image svg {
    height: 350px;
    width: 300px;
  }

  .sup-info__wrapper {
    margin-right: calc(37% - 300px);
    width: 56%;
  }

  .sup-info__description {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 28px;
  }

  .sup-info__link {
    font-size: 18px;
  }
}
