.users-photos__title {
  @include titleText($color-font-secondary);
  @include mobilePaddings;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $color-background-primary;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 82px;
}

.users-photos__info {
  @include infoText($color-font-primary);
  line-height: 30px;
  text-align: center;
  margin-top: 46px;
  max-width: 243px;
  margin-left: auto;
  margin-right: auto;
}

.users-photos__info--top {
  margin-bottom: 50px;
}

.users-photos__info--bottom {
  max-width: 100%;
  margin-bottom: 40px;
  margin-top: 41px;
}

@media (min-width: $tablet-width) {
  .users-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .users-photos__title {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    font-size: 50px;
    padding-top: 69px;
    padding-bottom: 140px;
    padding-left: 156px;
    padding-right: 156px;
    width: 100%;
  }

  .users-photos__info {
    font-size: 18px;
    max-width: 446px;
    margin-top: 49px;
    margin-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .users-photos__title {
    padding-top: 64px;
    padding-bottom: 100px;
    padding-left: 400px;
    padding-right: 400px;
  }

  .users-photos__info {
    max-width: 580px;
  }

  .users-photos__info--top {
    margin-bottom: 90px;
  }

  .users-photos__info--bottom {
    margin-top: 43px;
  }
}
