.users-photos__title {
  @include titleText($color-font-secondary);
  @include mobilePaddings;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-background-primary;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 82px;
  box-sizing: border-box;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.users-photos__info {
  @include infoText($color-font-primary);
  line-height: 30px;
  text-align: center;
  margin-top: 46px;
  max-width: 243px;
  margin-left: auto;
  margin-right: auto;
}

.users-photos__info--top {
  margin-bottom: 50px;
}

.users-photos__info--bottom {
  max-width: 100%;
  margin-bottom: 40px;
  margin-top: 41px;
}

@media (min-width: $tablet-width) {
  .users-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .users-photos__title {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    font-size: 50px;
    padding-top: 65px;
    padding-bottom: 140px;
    padding-left: 156px;
    padding-right: 156px;
    width: 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .users-photos__info {
    font-size: 18px;
    margin-top: 49px;
    margin-bottom: 75px;
  }

  .users-photos__info--bottom {
    margin-bottom: 70px;
  }

  .users-photos__info--top {
    min-width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .users-photos__title {
    padding: 64px 400px 100px 400px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .users-photos__info {
    width: 100%;
  }

  .users-photos__info--top {
    margin-bottom: 90px;
    min-width: 600px;
  }

  .users-photos__info--bottom {
    margin-top: 43px;
  }
}
