$color-background-primary: rgba(40, 54, 69, 1);
$color-background-secondary: rgba(242, 242, 242, 1);

$color-font-primary: rgba(40, 54, 69, 1);
$color-font-secondary: rgba(255, 255, 255, 1);
$color-font-sub: rgba(210, 40, 86, 1);

$color-button: rgba(42, 171, 109, 1);

$tablet-width: 660px;
$desktop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
