@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff2"),
    url("../fonts/opensans.woff");
  font-weight: 400;
}

@font-face {
  font-family: "opensans-bold";
  src: url("../fonts/opensansbold.woff2"),
    url("../fonts/opensansbold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "opensans-light";
  src: url("../fonts/opensanslight.woff2"),
    url("../fonts/opensanslight.woff");
  font-weight: 300;
}
