@mixin titleText($color-font-primary) {
  color: $color-font-primary;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

@mixin infoText($color-font-primary) {
  color: $color-font-primary;
  font-size: 14px;
  line-height: 2.14;
}

@mixin titleTextBold {
  font-weight: 700;
  font-size: 18px;
}

@mixin mobilePaddings {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin desktopPaddings {
  padding-left: 130px;
  padding-right: 130px;
}

@mixin formBtn {
  @include titleTextBold;
  display: block;
  width: 276px;
  height: 62px;
  background-color: $color-button;
  border-radius: 3px;
  border: none;
  margin: 0 auto;
  color: $color-font-secondary;
  text-transform: uppercase;
  cursor: pointer;

  &:focus {
    outline: 2px solid rgba(0, 0, 0, 1);
  }

  &:hover {
    background-color: rgba(28, 155, 94, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: rgba(229, 229, 229, 1);
    cursor: default;
  }

  @media (min-width: $tablet-width) {
    width: 296px;
  }
}
