$opensans: "opensans", "Arial", sans-serif;
$opensansBold: "opensans-bold", "Arial", sans-serif;
$opensansLight: "opensans-light", "Arial", sans-serif;

$white: rgba(255, 255, 255, 1);
$dark: rgba(40, 54, 69, 1);
$black: rgba(0, 0, 0, 1);
$grey: rgba(242, 242, 242, 1);
$pink: rgba(210, 40, 86, 1);
$green: rgba(42, 171, 109, 1);
